.hero {
  position: relative;
}

.hero img {
  z-index: -1;
  position: absolute;
  inset: 0;
  aspect-ratio: 9/5;
  height: 100%;
  object-fit: cover;
}


button.btn, a.btn {
  text-transform: uppercase;
  font-weight: bold;
}